{% if site.resume_social_links %}
<ul class="icon-links">
    {% if site.resume_social_links.github %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.github }}" class="icon-link" itemprop="sameAs" aria-label="GitHub">{% include icons/icon-github.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.twitter %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.twitter }}" class="icon-link" itemprop="sameAs" aria-label="Twitter">{% include icons/icon-twitter.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.medium %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.medium }}" class="icon-link" itemprop="url" aria-label="Medium">{% include icons/icon-medium.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.dribbble %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.dribbble }}" class="icon-link" itemprop="sameAs" aria-label="Dribble">{% include icons/icon-dribbble.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.facebook %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.facebook }}" class="icon-link" itemprop="sameAs" aria-label="Facebook">{% include icons/icon-facebook.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.linkedin %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.linkedin }}" class="icon-link" itemprop="sameAs" aria-label="LinkedIn">{% include icons/icon-linkedin.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.instagram %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.instagram }}" class="icon-link" itemprop="sameAs" aria-label="Instagram">{% include icons/icon-instagram.html %}</a></li>
    {% endif %}
    {% if site.resume_social_links.website %}
    <li class="icon-link-item"><a rel="noopener" href="{{ site.resume_social_links.website }}" class="icon-link" itemprop="url" aria-label="Other Website">{% include icons/icon-website.html %}</a></li>
    {% endif %}
</ul>
{% endif %}
