{% if site.resume_print_social_links %}
<ul>
    {% if site.resume_social_links.github %}
    <li><strong>GitHub</strong>: {{ site.resume_social_links.github }}</li>
    {% endif %}
    {% if site.resume_social_links.twitter %}
    <li><strong>Twitter</strong>: {{ site.resume_social_links.twitter }}</li>
    {% endif %}
    {% if site.resume_social_links.medium %}
    <li><strong>Medium</strong>: {{ site.resume_social_links.medium }}</li>
    {% endif %}
    {% if site.resume_social_links.dribbble %}
    <li><strong>Dribbble</strong>: {{ site.resume_social_links.dribbble }}</li>
    {% endif %}
    {% if site.resume_social_links.facebook %}
    <li><strong>Facebook</strong>: {{ site.resume_social_links.facebook }}</li>
    {% endif %}
    {% if site.resume_social_links.linkedin %}
    <li><strong>LinkedIn</strong>: {{ site.resume_social_links.linkedin }}</li>
    {% endif %}
    {% if site.resume_social_links.instagram %}
    <li><strong>Instagram</strong>: {{ site.resume_social_links.instagram }}</li>
    {% endif %}
    {% if site.resume_social_links.website %}
    <li><strong>Website</strong>: {{ site.resume_social_links.website }}</li>
    {% endif %}
</ul>
{% endif %}
